apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: enterprise
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
        version: v1
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "5000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: flask-app
          image: 326052702112.dkr.ecr.ap-south-1.amazonaws.com/enterprise-devops-app:{{ image_tag }}
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /api/health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
      imagePullSecrets:
        - name: ecr-secret
